<section>
    <div class="page-header">
        <h1>Les livres</h1>
    </div>
    <table class="table table-striped">
        <tr>
            <th ng-click="orderByMe('titre')">Titre</th>
            <th ng-click="orderByMe('auteur')">Auteur</th>
            <th ng-click="orderByMe('maison')">Maison d'édition</th>
            <th ng-click="orderByMe('page')">Nombre de pages</th>
            <th ng-click="orderByMe('annee')">Année d'édition</th>
            <th ng-click="orderByMe('user.displayName')">Propriétaire</th>
        </tr>
        
        <tr ng-repeat="x in vm.books | orderBy:myOrderBy">
            <td><a ui-sref="books.view({ bookId: x._id })">{{x.titre}}</a></td>
            <td>{{x.auteur}}</td>
            <td>{{x.maison}}</td>
            <td>{{x.page}}</td>
            <td>{{x.annee}}</td>
            <td>{{x.user.displayName}}</td>
        </tr> 
    </table>
</section>
